In [2]:
import pandas as pd

In [6]:
# The inital set of baby names and birth rates
names = ['Bob','Jessica','Mary','John','Mel', 'Bob', 'Mary']
births = [968, 155, 77, 578, 973, 1, 1]

In [7]:
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968),
 ('Jessica', 155),
 ('Mary', 77),
 ('John', 578),
 ('Mel', 973),
 ('Bob', 1),
 ('Mary', 1)]

In [8]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973
5      Bob       1
6     Mary       1

In [17]:
aggregation_functions = {'Births': 'sum'}
new = df.groupby(df['Names']).aggregate(aggregation_functions)
new

         Births
Names
Bob         969
Jessica     155
John        578
Mary         78
Mel         973

In [18]:
telemetry = pd.read_csv('/home/andres/CAiN_repos/telemetry/0/baseline_no_anomaly.csv')

/home/andres/src/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,37,38,46,63,70,74,82) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)