In [1]:
import pandas as pd

In [6]:
# The inital set of baby names and birth rates
names = ['Bob','Jessica','Mary','John','Mel', 'Bob', 'Mary']
births = [968, 155, 77, 578, 973, 1, 1]

In [7]:
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968),
 ('Jessica', 155),
 ('Mary', 77),
 ('John', 578),
 ('Mel', 973),
 ('Bob', 1),
 ('Mary', 1)]

In [8]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973
5      Bob       1
6     Mary       1

In [32]:
aggregation_functions = {'Births': 'sum'}
new = df.groupby(df['Names']).aggregate(aggregation_functions)
new

         Births
Names
Bob         969
Jessica     155
John        578
Mary         78
Mel         973

In [2]:
### PARAMETERS
##################

dataset_path = '/home/andres/CAiN_repos/telemetry/0/baseline_no_anomaly.csv'

# names of features (columns) to ignore
non_features=['EncodingPath', 'af-name', 'instance-name', 'interface-name', 'node-name', 'saf-name', 'vrf-name']

In [3]:
telemetry_headers = pd.read_csv(dataset_path, nrows=1)
features = list(telemetry_headers.drop(columns=non_features))
len(features)

80

In [4]:
telemetry = pd.read_csv(dataset_path, usecols=features)
telemetry.head()

/home/andres/src/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (63,70) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,name,time,Producer,acl-in-rpf-packets,active-routes-count,as,backup-routes-count,bandwidth,bytes-received,bytes-sent,...,total-cpu-fifteen-minute,total-cpu-five-minute,total-cpu-one-minute,total-number-of-drop-packets,unresolved-prefix-packets,unsupported-feature-packets,vrf__neighbors-count,vrf__network-count,vrf__path-count,vrf__update-messages-received
0,Cisco-IOS-XR-fib-common-oper:fib-statistics/no...,1503019768316000000,leaf5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,Cisco-IOS-XR-fib-common-oper:fib-statistics/no...,1503019768323000000,leaf1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,Cisco-IOS-XR-fib-common-oper:fib-statistics/no...,1503019768863000000,leaf4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,Cisco-IOS-XR-fib-common-oper:fib-statistics/no...,1503019769543000000,dr02,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,Cisco-IOS-XR-fib-common-oper:fib-statistics/no...,1503019769581000000,dr02,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [34]:
print(telemetry['time'].describe())

count    9.768210e+05
mean     1.503022e+18
std      1.039511e+12
min      1.503020e+18
25%      1.503021e+18
50%      1.503022e+18
75%      1.503022e+18
max      1.503023e+18
Name: time, dtype: float64

In [36]:
aggregate_functions

NameError: name 'aggregate_functions' is not defined

In [ ]:
agg_telemetry=telemetry.groupby(df['time']).aggregate()